html{
	font-family: 'Open Sans', sans-serif;
	color: #86898e; /*grey*/
}

.page{
	position: relative;
	top: 64px; /*to offset navigation bar*/
}

/*Top Navigation Bar*/

nav{
	display: flex;
	height: 64px;
	position: fixed;
	background-color: white;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

nav div{
	display: flex;
	align-items: center;
}

.logo{
	height: 32px;
	padding-left: 24px;
}

.bold{
	font-weight: bold;
}

.light{
	font-weight: lighter;
}

.nav{
	padding-right: 16px;
}

.extra{
	padding-right: 24px;
}

/*First Main Banner Section*/

.main{
	display: flex;
	position: relative;
	background-color: #d4d7db; /*light grey*/
}

.banner{
	width: 60%;
	padding: 32px 24px;
}

.main-right{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 25%;
}

.right-box{
	padding-top: 20px;
	padding-bottom: 20px;
}

.learn{
	font-size: 35px;
	font-weight: bold;
}

.start{
	background-color: #404142;
	color: white;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}


/*Second Banner and Side Bar*/

.second-banner-container{
	display: flex;
	background-color: #e5e6e8; /*off white*/
}

.practicing-section{
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 32px 24px;
}

.practicing-section img{
	max-width: 100%;

}

.practicing{
	font-size: 30px;
	font-weight: bold;
	padding-top: 32px;
	padding-bottom: 24px;
}

.practicing-text{
	font-style: italic;
	padding-bottom: 32px;
}

.classes{
	display: flex;
	flex-direction: column;
	width: 40%;
	border-left: solid #d4d7db; /*light grey*/;
	padding-top: 32px;
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
}

.classes :hover{
	background-color: #d4d7db; /*light grey*/;

}

.flex-icons{
	display: flex;
	align-items: center;
	border-bottom: solid #d4d7db; /*light grey*/;

}


.flex-icons img{
	width: 35%;
	padding: 16px;
}

.flex-icons div{
	width: 65%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title{
	font-size: 20px;
}

.blue{
	color: blue;
}

.top img{
	padding-top: 0; /*aligns top image with whole banner*/
}

/*Third Content Section "Start Learning"*/

.learning-container{
	background-color: #d4d7db; /*light grey*/
}

.learning-title{
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding-top: 32px;
	padding-bottom: 16px;
}

.learning-boxes{
	display: flex;
	flex-wrap: wrap;
	padding-left: 52px;
	padding-right: 52px;
	padding-bottom: 16px;
}

.learning-box{
	width: 25%;
	background-color: white;
	margin: 16px;
}

.learning-box img{
	max-width: 100%;
}

.learning-text{
	padding: 16px;
	padding-bottom: 24px;
}

.pad{
	padding-top: 8px;
	padding-bottom: 8px;
}

/*Final Section "Thesis exhibit"*/

.thesis-title{
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding-top: 32px;
	padding-bottom: 32px;
}

.thesis-container{
	display: flex;
	background-color: #e5e6e8; /*off white*/
}

.video-box{
	width: 60%;
	padding: 24px;
	padding-bottom: 
}

video{
	max-width: 100%;
	padding-bottom: 24px;
}

.video-text{
	padding-bottom: 8px;
}

.thesis-box{
	display: flex;
	align-items: center;
}

.thesis-boxes{
	max-height: 75%;
}

.thesis-box img{
	width: 35%;
	padding: 16px;
}

.thesis-box div{
	width: 65%;
}

.thesis-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.thesis-text div{
	padding: 5px;
	width: 100%;
}