html{
	font-family: 'Open Sans', sans-serif;
	color: #86898e; /*grey*/
}

.page{
	position: relative;
	top: 64px; /*to offset navigation bar*/
}

/*Top Navigation Bar*/

.desktop-nav{
	display: flex;
	height: 64px;
	position: fixed;
	background-color: white;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

.desktop-nav div{
	display: flex;
	align-items: center;
}

.mobile-nav{
	display: none;
}

.logo{
	height: 32px;
	padding-left: 24px;
}

.bold{
	font-weight: bold;
}

.light{
	font-weight: lighter;
}

.peach{
	color: #f4cbb5; /*peach*/
}

.nav{
	padding-right: 16px;
}

.extra{
	padding-right: 24px;
}

.nav:hover, .extra:hover{
	color: #f4cbb5; /*peach*/
}

.darkgrey{
	color: #404142; /*dark grey*/
}

/*First Main Banner Section "Learn Something New"*/

.main{
	display: flex;
	position: relative;
	background-color: #f4cbb5; /*peach*/
}

.banner{
	width: 60%;
	padding: 32px 24px;
}

.main-right{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 30%;
}

.main-right-paragraph{
	font-size: 20px;
	line-height: 30px;
}

.right-box{
	padding-bottom: 30px;
}

.learn{
	font-size: 35px;
	font-weight: bold;
}

.start{
	background-color: #404142; /*dark grey*/
	color: white;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.start:hover{
	color: #f4cbb5; /*peach*/
}


/*Second Banner "practicing" and Side Bar*/

.second-banner-container{
	display: flex;
	background-color: #e5e6e8; /*off white*/
}

.practicing-section{
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 32px 24px;
}

.practicing-section img{
	max-width: 100%;

}

.practicing{
	font-size: 30px;
	font-weight: bold;
	padding-top: 32px;
	padding-bottom: 24px;
}

.practicing-text{
	font-style: italic;
	padding-bottom: 32px;
	max-width: 85%;
}

.small{
	font-size: 12px;
}

.classes{
	display: flex;
	flex-direction: column;
	width: 40%;
	border-left: solid #f4cbb5; /*peach*/
	padding-top: 32px;
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
}

.classes :hover{
	background-color: #f4cbb5; /*peach*/

}

.smaller{
	font-size: 13px;
}

.flex-icons{
	display: flex;
	align-items: center;
	border-bottom: solid #f4cbb5; /*peach*/
}

.flex-icons img{
	width: 35%;
	padding: 16px;
}

.flex-icons div{
	width: 65%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.mobile-image{
	display: none;
}

.title{
	font-size: 20px;
}

.blue{
	color: #61c6c5; /*turquoise*/
}

.top img{
	padding-top: 0; /*aligns top image with whole banner*/
}

/*Third Content Section "Start Learning"*/

.learning-container{
	background-color: #f4cbb5; /*peach*/
}

.learning-title{
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding-top: 32px;
	padding-bottom: 16px;
}

.learning-boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 56px;
	padding-right: 56px;
	padding-bottom: 16px;
}

.learning-box{
	width: 275px;
	background-color: white;
	margin: 16px;
}

.learning-box img{
	max-width: 100%;
}

.learning-text{
	padding: 16px;
	padding-bottom: 24px;
}

.pad{
	padding-top: 8px;
	padding-bottom: 8px;
}

/*Final Section "Thesis exhibit"*/

.thesis-title{
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding-top: 32px;
	padding-bottom: 32px;
}

.thesis-container{
	display: flex;
	background-color: #e5e6e8; /*off white*/
}

.video-box{
	width: 60%;
	padding: 24px;
	padding-bottom: 
}

video{
	max-width: 100%;
	padding-bottom: 24px;
}

.video-text{
	padding-bottom: 8px;
}

.thesis-boxes :hover{
	background-color: #f4cbb5; /*peach*/
}

.thesis-box{
	display: flex;
	align-items: center;
}

.thesis-box img{
	width: 35%;
	padding: 16px;
}

.thesis-box div{
	width: 65%;
}

.thesis-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.thesis-text div{
	padding: 5px;
	width: 100%;
}

/*Footer*/

footer{
	display: flex;
	justify-content: space-between;
	border-top: solid #f4cbb5; /*peach*/
	padding: 16px 24px;
}

.footer {
	display: flex;
}

.footer div{
	padding-right: 5px;
}

/*Mobile Screen Viewing*/

@media only screen and (max-width: 470px){

	/*navigation bar*/

	.page{
		top: 0;
	}

	.desktop-nav{
		display: none;
	}

	.mobile-nav{
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 64px;
	}

	.mobile-nav img{
		height: 30px;
	}

	/*main banner*/

	.main{
		display: block;
		width: 100%;
	}

	.banner{
		padding: 0;
		width: 100%;
	}

	.main-right{
		width: 95%;
		padding: 32px 16px;
	}

	.learn{
		padding-bottom: 32px;
		line-height: 40px;
	}

	.main-right-paragraph{
		padding-bottom: 24px;
	}

	.start{
		width: 95%;
	}

	/*Second section*/

	.practicing-section{
		display: none;
	}

	.classes{
		width: 100%;
		border-left: none;
		align-items: center;
	}

	.desktop-image{
		display: none;
	}

	.mobile-image{
		display: block;
	}

	.flex-icons{
		flex-direction: column;
		border: none;
	}

	.flex-icons img{
		width: 403px;
	}

	.flex-icons div{
		width: 403px;
		height: 80px;
		padding-left: 32px;
		padding-bottom: 48px;
		align-items: flex-start;
	}

	#last{
		padding-bottom: 32px;
	}

	/*Third section "Start learning"*/

	.learning-box img, .pad, .learning-p{
		display: none;
	}

	.learning-boxes{
		padding: 0 16px 32px 16px;
	}

	.learning-box{
		margin: 0;
		margin-bottom: 8px;
		width: 100%;
	}

	/*Final section "thesis exhibit"*/

	.thesis-title{
		padding-bottom: 16px;
	}

	.video-box div, .thesis-boxes{
		display: none;
	}

	.video-box{
		width: 100%;
		padding: 0;
	}
	
	video{
		padding: 0;
	}	

	/*footer*/

	footer{
		padding-top: 40px;
	}

	}


